<div class="org-filters">
  <form [formGroup]="form" class="org-filters__form">

    <p-icon-field class="org-filters__search">
      <p-inputicon class="ti ti-search" />
      <input
        pInputText
        formControlName="search"
        placeholder="Buscar por nombre, RUC..."
        class="w-full"
      />
    </p-icon-field>

    <p-select
      formControlName="is_active"
      [options]="statusOptions"
      optionLabel="label"
      optionValue="value"
      placeholder="Estado"
      class="org-filters__status"
    />

  </form>
</div>
