:host {
  display: contents;
}

main::-webkit-scrollbar {
  width: 4px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}
